body{
    /* background-color: chocolate; */
    background-image: linear-gradient(rgba(212, 195, 39, 0.614) 0%, rgba(198, 22, 142, 0.886) 100%)  ;
}
 #addPlayer{
    margin-top: 10%;
    margin-left: 40%;
    /* margin-right: 50%; */
 }
.heading1 h1{
    margin-left: -40px;
    margin-top: -6%; 
    color: coral
    
}

#addteamform{
    margin-top: 60px;
    border: 4px solid coral;
    width: 40%;
    height: 500px;
    margin-left: -10%;
    background-color: burlywood;
    border-radius: 10px;
}
#addteamform div{
    margin: 20px 20px
}

#addteamform input, select {
    width: 330px;
    background-color: bisque;
    height: 20px;
}

#addteamform div button{
    margin-left: 30%;
    width: 140px;
    height: 20px;
    border: none;
    background-color: white;
    border: 2px solid gold;
    box-shadow: rgb(0,0,0,0.3/80%);
    font-size: 16px;
    border-radius: 5px;
}